* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #f6f9f8;
    margin-left: 400px;
    margin-right: 600px;
    margin-top: 50px;
}


body {
    background-color: #f6f9f8;
    margin: 0;
}

header {
    background-color: white;
    padding-left: 30px;
}

.text-logo {
    font-size: 3rem;
    vertical-align: bottom;
}

.button {
    font-size: medium;
}

.top-div {
    margin: top;
}

.container {
    margin-left: 20%;
    margin-right: 20%;

}


.editorial {
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    background-color: #46adf0;
    
}

.q1-goals {
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    background-color: #9c73e5 color: white;
}

.recruting {
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    background-color: #62bfa9 color: white;
}

.mobile {
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    background-color: #f39e32;
    color: white;
}

.website {
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    background-color: #d963a0;
    color: white;
}

.sales {
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    background-color: #b1c927;
    color: white;
}