* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

main {
    background-color: #f6f9f8;
}

.header-top {
    padding: 40px;
    font-size: 4rem;
}

.button {
    margin-left: 20%;
    font-size: 3rem;

}